Node-Red
[{"id":"30a909da.d4f5e6","type":"tab","label":"HAR-IOT","disabled":false,"info":""},{"id":"d0d4d589.08a5a8","type":"switch","z":"30a909da.d4f5e6","name":"Check?","property":"eventType","propertyType":"msg","rules":[{"t":"eq","v":"Accelerometer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":180,"wires":[["722d9074.045fd"]]},{"id":"6fd28730.f70d78","type":"comment","z":"30a909da.d4f5e6","name":"WIoTP via API keys","info":"","x":110,"y":120,"wires":[]},{"id":"ca1857.86a237a8","type":"wiotp in","z":"30a909da.d4f5e6","authType":"d","deviceKey":"59872c5f.152604","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"IBM IOT","x":60,"y":180,"wires":[["35a29907.baba26"]]},{"id":"35a29907.baba26","type":"function","z":"30a909da.d4f5e6","name":"Valid?","func":"\nmsg.earthquake = 0;\n//if(msg.topic === 'iot-2/type/TISensortag/id/acbc327d39af/evt/accelerometer/fmt/json')\n{\n    \n    var x = parseFloat(msg.payload.d.ax);\n    var y = parseFloat(msg.payload.d.ay);\n    var z = parseFloat(msg.payload.d.az);\n    x = Math.abs(x);\n    y = Math.abs(y);\n    z = Math.abs(z);\n    if(x > 1.1 || y > 1.1 || z > 1.1)\n    {\n        msg.earthquake = 1;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":60,"y":280,"wires":[["d0d4d589.08a5a8"]]},{"id":"722d9074.045fd","type":"delay","z":"30a909da.d4f5e6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":270,"y":280,"wires":[["800f8165.3dee7","e24ad883.9ab428","97174deb.0d32d"]]},{"id":"800f8165.3dee7","type":"debug","z":"30a909da.d4f5e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Accelerometer X","targetType":"msg","x":514,"y":196,"wires":[]},{"id":"e24ad883.9ab428","type":"debug","z":"30a909da.d4f5e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Accelerometer Y","targetType":"msg","x":514,"y":236,"wires":[]},{"id":"97174deb.0d32d","type":"debug","z":"30a909da.d4f5e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Accelerometer Z","targetType":"msg","x":514,"y":276,"wires":[]},{"id":"59872c5f.152604","type":"wiotp-credentials","z":"","name":"","org":"9hqim3","serverName":"","devType":"cpu-monitor","devId":"IDCPU","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
